@font-face {
  font-family: 'fauna';
  src:  url('../fonts/bfeather1_1.ttf') format('truetype');
}
@font-face {
  font-family: 'flora';
  src:  url('../fonts/WWFloralCorner.ttf') format('truetype');
}

@font-face {
  font-family: 'horse';
  src:  url('../fonts/DJ horses 1.ttf') format('truetype');
}

[class^="icon-horse-"], [class*=" icon-horse-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'horse' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-fauna-"], [class*=" icon-fauna-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fauna' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-flora-"], [class*=" icon-flora-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flora' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


  /* ANIMALS =========== */

.icon-fauna-ave:before {
  content: "F";
}

  /* FAUNA =========== */

  .icon-flora-arbol:before {
    content: "k";
}

.icon-horse-myhorse:before {
  content: "a";
}


.icon-icomoon-three4:before {
  content: "\e9df";
}
.icon-icomoon-restaurant:before {
  content: "\e9e0";
}
.icon-icomoon-bag:before {
  content: "\e9e1";
}
.icon-icomoon-circle4:before {
  content: "\e9e2";
}

.icon-icomoon-construction:before {
  content: "\ebc5";
}
.icon-icomoon-people5:before {
  content: "\ebc7";
}
.icon-icomoon-social-1:before {
  content: "\ebd0";
}
.icon-icomoon-eye3:before {
  content: "\ebd4";
}
.icon-icomoon-app:before {
  content: "\ebd8";
}
.icon-icomoon-luxury:before {
  content: "\ebd9";
}
.icon-icomoon-disability:before {
  content: "\ebda";
}
.icon-icomoon-interface5:before {
  content: "\ebdb";
}
.icon-icomoon-ribbon:before {
  content: "\ebde";
}
.icon-icomoon-medical3:before {
  content: "\ebdf";
}
.icon-icomoon-old-fashion-briefcase:before {
  content: "\e917";
}
.icon-icomoon-arrows-1:before {
  content: "\e918";
}
.icon-icomoon-arrows-2:before {
  content: "\e919";
}
.icon-icomoon-flash:before {
  content: "\eaeb";
}
.icon-icomoon-internet:before {
  content: "\eaec";
}
.icon-icomoon-money3:before {
  content: "\eaed";
}
.icon-icomoon-nature3:before {
  content: "\eaee";
}
.icon-icomoon-nature-1:before {
  content: "\eba5";
}
.icon-icomoon-nature-2:before {
  content: "\eba6";
}
.icon-icomoon-null:before {
  content: "\eba7";
}
.icon-icomoon-play5:before {
  content: "\ebb0";
}
.icon-icomoon-search4:before {
  content: "\ebb5";
}
.icon-icomoon-signs4:before {
  content: "\ebb6";
}
.icon-icomoon-summer:before {
  content: "\ebc2";
}
.icon-icomoon-technology9:before {
  content: "\ebce";
}
.icon-icomoon-three3:before {
  content: "\ebcf";
}
.icon-icomoon-uniF119:before {
  content: "\f119";
}
.icon-icomoon-uniF100:before {
  content: "\f100";
}
.icon-icomoon-uniF10C:before {
  content: "\f10c";
}
.icon-icomoon-uniF12C:before {
  content: "\f12c";
}
.icon-icomoon-uniF11F:before {
  content: "\f11f";
}
.icon-icomoon-uniF10E:before {
  content: "\f10e";
}
.icon-icomoon-uniF107:before {
  content: "\f107";
}
.icon-icomoon-uniF120:before {
  content: "\f120";
}
.icon-icomoon-uniF106:before {
  content: "\f106";
}
.icon-icomoon-uniF12E:before {
  content: "\f12e";
}
.icon-icomoon-uniF128:before {
  content: "\f128";
}
.icon-icomoon-uniF104:before {
  content: "\f104";
}
.icon-icomoon-uniF11E:before {
  content: "\f11e";
}
.icon-icomoon-uniF126:before {
  content: "\f126";
}
.icon-icomoon-uniF116:before {
  content: "\f116";
}
.icon-icomoon-uniF105:before {
  content: "\f105";
}
.icon-icomoon-uniF10F:before {
  content: "\f10f";
}
.icon-icomoon-uniF12D:before {
  content: "\f12d";
}
.icon-icomoon-uniF129:before {
  content: "\f129";
}
.icon-icomoon-uniF12B:before {
  content: "\f12b";
}
.icon-icomoon-uniF11A:before {
  content: "\f11a";
}
.icon-icomoon-uniF102:before {
  content: "\f102";
}
.icon-icomoon-uniF115:before {
  content: "\f115";
}
.icon-icomoon-uniF11D:before {
  content: "\f11d";
}
.icon-icomoon-uniF10A:before {
  content: "\f10a";
}
.icon-icomoon-uniF101:before {
  content: "\f101";
}
.icon-icomoon-uniF109:before {
  content: "\f109";
}
.icon-icomoon-uniF123:before {
  content: "\f123";
}
.icon-icomoon-uniF103:before {
  content: "\f103";
}
.icon-icomoon-uniF131:before {
  content: "\f131";
}
.icon-icomoon-uniF12A:before {
  content: "\f12a";
}
.icon-icomoon-uniF125:before {
  content: "\f125";
}
.icon-icomoon-uniF124:before {
  content: "\f124";
}
.icon-icomoon-uniF12F:before {
  content: "\f12f";
}
.icon-icomoon-uniF130:before {
  content: "\f130";
}
.icon-icomoon-uniF117:before {
  content: "\f117";
}
.icon-icomoon-uniF118:before {
  content: "\f118";
}
.icon-icomoon-uniF112:before {
  content: "\f112";
}
.icon-icomoon-uniF110:before {
  content: "\f110";
}
.icon-icomoon-uniF111:before {
  content: "\f111";
}
.icon-icomoon-uniF113:before {
  content: "\f113";
}
.icon-icomoon-uniF10D:before {
  content: "\f10d";
}
.icon-icomoon-uniF127:before {
  content: "\f127";
}
.icon-icomoon-uniF114:before {
  content: "\f114";
}
.icon-icomoon-uniF121:before {
  content: "\f121";
}
.icon-icomoon-uniF10B:before {
  content: "\f10b";
}
.icon-icomoon-uniF11B:before {
  content: "\f11b";
}
.icon-icomoon-uniF11C:before {
  content: "\f11c";
}
.icon-icomoon-uniF122:before {
  content: "\f122";
}
.icon-icomoon-interface4:before {
  content: "\eba2";
}
.icon-icomoon-logo3:before {
  content: "\eba3";
}
.icon-icomoon-technology8:before {
  content: "\eba4";
}
.icon-icomoon-black2:before {
  content: "\eba8";
}
.icon-icomoon-multimedia3:before {
  content: "\eba9";
}
.icon-icomoon-interface22:before {
  content: "\ebba";
}
.icon-icomoon-signs3:before {
  content: "\ebbb";
}
.icon-icomoon-technology53:before {
  content: "\ebbc";
}
.icon-icomoon-line:before {
  content: "\ebbd";
}
.icon-icomoon-signs23:before {
  content: "\ebbe";
}
.icon-icomoon-interface32:before {
  content: "\ebbf";
}
.icon-icomoon-link3:before {
  content: "\ebc0";
}
.icon-icomoon-people23:before {
  content: "\ebc1";
}
.icon-icomoon-globe:before {
  content: "\ebc3";
}
.icon-icomoon-people4:before {
  content: "\ebaa";
}
.icon-icomoon-shapes5:before {
  content: "\ebab";
}
.icon-icomoon-symbol5:before {
  content: "\ebac";
}
.icon-icomoon-envelope:before {
  content: "\ebad";
}
.icon-icomoon-technology33:before {
  content: "\ebae";
}
.icon-icomoon-social9:before {
  content: "\ebaf";
}
.icon-icomoon-money2:before {
  content: "\ebb1";
}
.icon-icomoon-time4:before {
  content: "\ebc4";
}
.icon-icomoon-arrows23:before {
  content: "\ebc8";
}
.icon-icomoon-right-arrow:before {
  content: "\ebc9";
}
.icon-icomoon-icon-1394:before {
  content: "\ebca";
}
.icon-icomoon-logo22:before {
  content: "\ebcb";
}
.icon-icomoon-social33:before {
  content: "\ebcc";
}
.icon-icomoon-social43:before {
  content: "\ebcd";
}
.icon-icomoon-social23:before {
  content: "\ebb2";
}
.icon-icomoon-commerce4:before {
  content: "\ebb3";
}
.icon-icomoon-arrows9:before {
  content: "\ebb4";
}
.icon-icomoon-web22:before {
  content: "\ebb7";
}
.icon-icomoon-technology43:before {
  content: "\ebb8";
}
.icon-icomoon-location5:before {
  content: "\ebb9";
}
.icon-icomoon-draw:before {
  content: "\eb41";
}
.icon-icomoon-circle:before {
  content: "\eb42";
}
.icon-icomoon-commerce:before {
  content: "\eb43";
}
.icon-icomoon-signs2:before {
  content: "\eb44";
}
.icon-icomoon-squares2:before {
  content: "\eb45";
}
.icon-icomoon-book4:before {
  content: "\eb46";
}
.icon-icomoon-social8:before {
  content: "\eb47";
}
.icon-icomoon-social82:before {
  content: "\eba0";
}
.icon-icomoon-business:before {
  content: "\eb6b";
}
.icon-icomoon-peace:before {
  content: "\eb6c";
}
.icon-icomoon-hand:before {
  content: "\eb6d";
}
.icon-icomoon-map-location:before {
  content: "\eb6e";
}
.icon-icomoon-multimedia:before {
  content: "\eb6f";
}
.icon-icomoon-search3:before {
  content: "\eb70";
}
.icon-icomoon-business2:before {
  content: "\eb71";
}
.icon-icomoon-people22:before {
  content: "\eb72";
}
.icon-icomoon-mark2:before {
  content: "\eb73";
}
.icon-icomoon-arrows42:before {
  content: "\eb74";
}
.icon-icomoon-web4:before {
  content: "\eb48";
}
.icon-icomoon-arrow2:before {
  content: "\eb49";
}
.icon-icomoon-three2:before {
  content: "\eb4a";
}
.icon-icomoon-shapes:before {
  content: "\eb4b";
}
.icon-icomoon-favorite2:before {
  content: "\eb4c";
}
.icon-icomoon-social22:before {
  content: "\eb4d";
}
.icon-icomoon-avatar2:before {
  content: "\eb4e";
}
.icon-icomoon-icon-2144:before {
  content: "\eb75";
}
.icon-icomoon-map3:before {
  content: "\eb76";
}
.icon-icomoon-icon-315:before {
  content: "\eb77";
}
.icon-icomoon-exit2:before {
  content: "\eb78";
}
.icon-icomoon-commerce2:before {
  content: "\eb79";
}
.icon-icomoon-alphabet:before {
  content: "\eb7a";
}
.icon-icomoon-nature2:before {
  content: "\eb7b";
}
.icon-icomoon-business3:before {
  content: "\eb7c";
}
.icon-icomoon-tool4:before {
  content: "\eb7d";
}
.icon-icomoon-clock4:before {
  content: "\eb7e";
}
.icon-icomoon-technology32:before {
  content: "\eb7f";
}
.icon-icomoon-book22:before {
  content: "\eb4f";
}
.icon-icomoon-circle2:before {
  content: "\eb50";
}
.icon-icomoon-social32:before {
  content: "\eb51";
}
.icon-icomoon-social42:before {
  content: "\eb52";
}
.icon-icomoon-exclamation:before {
  content: "\eb53";
}
.icon-icomoon-social52:before {
  content: "\eb54";
}
.icon-icomoon-arrows5:before {
  content: "\eb55";
}
.icon-icomoon-multimedia2:before {
  content: "\eb80";
}
.icon-icomoon-arrows52:before {
  content: "\eb81";
}
.icon-icomoon-technology42:before {
  content: "\eb82";
}
.icon-icomoon-shapes2:before {
  content: "\eb83";
}
.icon-icomoon-clock23:before {
  content: "\eb84";
}
.icon-icomoon-calendar2:before {
  content: "\eb85";
}
.icon-icomoon-building:before {
  content: "\eb86";
}
.icon-icomoon-note:before {
  content: "\eb87";
  color: #3d6889;
}
.icon-icomoon-arrows6:before {
  content: "\eb88";
}
.icon-icomoon-school2:before {
  content: "\eb89";
}
.icon-icomoon-technology52:before {
  content: "\eb8a";
}
.icon-icomoon-social-media:before {
  content: "\eb56";
}
.icon-icomoon-play4:before {
  content: "\eb57";
}
.icon-icomoon-technology5:before {
  content: "\eb58";
}
.icon-icomoon-signs22:before {
  content: "\eb59";
}
.icon-icomoon-man2:before {
  content: "\eb5a";
}
.icon-icomoon-people3:before {
  content: "\eb5b";
}
.icon-icomoon-arrows22:before {
  content: "\eb5c";
}
.icon-icomoon-arrows7:before {
  content: "\eb8b";
}
.icon-icomoon-arrow22:before {
  content: "\eb8c";
}
.icon-icomoon-interface3:before {
  content: "\eb8d";
}
.icon-icomoon-monument:before {
  content: "\eb8e";
}
.icon-icomoon-note2:before {
  content: "\eb8f";
}
.icon-icomoon-technology6:before {
  content: "\eb90";
}
.icon-icomoon-technology7:before {
  content: "\eb91";
}
.icon-icomoon-buildings:before {
  content: "\eb92";
}
.icon-icomoon-location4:before {
  content: "\eb94";
}
.icon-icomoon-clock32:before {
  content: "\eb95";
}
.icon-icomoon-arrows8:before {
  content: "\eb96";
}
.icon-icomoon-sound:before {
  content: "\eb5d";
}
.icon-icomoon-play22:before {
  content: "\eb5e";
}
.icon-icomoon-time3:before {
  content: "\eb5f";
}
.icon-icomoon-arrows32:before {
  content: "\eb60";
}
.icon-icomoon-circle3:before {
  content: "\eb61";
}
.icon-icomoon-chain:before {
  content: "\eb62";
}
.icon-icomoon-two:before {
  content: "\eb63";
}
.icon-icomoon-business4:before {
  content: "\eb93";
}
.icon-icomoon-shapes3:before {
  content: "\eb97";
}
.icon-icomoon-arrow3:before {
  content: "\eb98";
}
.icon-icomoon-shapes4:before {
  content: "\eb99";
}
.icon-icomoon-people32:before {
  content: "\eb9a";
}
.icon-icomoon-death:before {
  content: "\eb9b";
}
.icon-icomoon-transport:before {
  content: "\eb9c";
}
.icon-icomoon-eye2:before {
  content: "\eb9d";
}
.icon-icomoon-search22:before {
  content: "\eb9e";
}
.icon-icomoon-commerce3:before {
  content: "\eb9f";
}
.icon-icomoon-hand2:before {
  content: "\eba1";
}
.icon-icomoon-vimeo4:before {
  content: "\eb64";
}
.icon-icomoon-social-media2:before {
  content: "\eb65";
}
.icon-icomoon-logo2:before {
  content: "\eb66";
}
.icon-icomoon-social62:before {
  content: "\eb67";
}
.icon-icomoon-social72:before {
  content: "\eb68";
}
.icon-icomoon-symbol4:before {
  content: "\eb69";
}
.icon-icomoon-technology22:before {
  content: "\eb6a";
}
.icon-icomoon-tag:before {
  content: "\eb1c";
}
.icon-icomoon-tool:before {
  content: "\eb1b";
}
.icon-icomoon-pen2:before {
  content: "\eb1a";
}
.icon-icomoon-lock2:before {
  content: "\eb19";
}
.icon-icomoon-symbol:before {
  content: "\eb18";
}
.icon-icomoon-diploma:before {
  content: "\eb17";
}
.icon-icomoon-tool2:before {
  content: "\eb16";
}
.icon-icomoon-signs:before {
  content: "\eb15";
}
.icon-icomoon-squares:before {
  content: "\eb14";
}
.icon-icomoon-arrow:before {
  content: "\eb13";
}
.icon-icomoon-three:before {
  content: "\eb21";
}
.icon-icomoon-paper:before {
  content: "\eb22";
}
.icon-icomoon-book3:before {
  content: "\eb23";
}
.icon-icomoon-avatar:before {
  content: "\eb25";
}
.icon-icomoon-clock3:before {
  content: "\eb26";
}
.icon-icomoon-check:before {
  content: "\eb27";
}
.icon-icomoon-megaphone:before {
  content: "\eb28";
}
.icon-icomoon-shop:before {
  content: "\eb24";
}
.icon-icomoon-tag2:before {
  content: "\eb12";
}
.icon-icomoon-technology:before {
  content: "\eb11";
}
.icon-icomoon-book2:before {
  content: "\eb10";
}
.icon-icomoon-favorite:before {
  content: "\eb0f";
}
.icon-icomoon-mark:before {
  content: "\eb0e";
}
.icon-icomoon-logo:before {
  content: "\eb0d";
}
.icon-icomoon-symbols:before {
  content: "\eb0c";
}
.icon-icomoon-arrows:before {
  content: "\eb0b";
}
.icon-icomoon-web:before {
  content: "\eb0a";
}
.icon-icomoon-symbol2:before {
  content: "\eb09";
}
.icon-icomoon-social:before {
  content: "\eb3f";
}
.icon-icomoon-folder2:before {
  content: "\eb29";
}
.icon-icomoon-time:before {
  content: "\eb2a";
}
.icon-icomoon-interface:before {
  content: "\eb2b";
}
.icon-icomoon-link2:before {
  content: "\eb2c";
}
.icon-icomoon-arrows2:before {
  content: "\eb2d";
}
.icon-icomoon-people:before {
  content: "\eb2e";
}
.icon-icomoon-people2:before {
  content: "\eb3d";
}
.icon-icomoon-telephone:before {
  content: "\eb08";
}
.icon-icomoon-editing:before {
  content: "\eb07";
}
.icon-icomoon-medical:before {
  content: "\eb06";
}
.icon-icomoon-technology2:before {
  content: "\eb05";
}
.icon-icomoon-glasses:before {
  content: "\eb04";
}
.icon-icomoon-medical2:before {
  content: "\eb03";
}
.icon-icomoon-music5:before {
  content: "\eb02";
}
.icon-icomoon-music2:before {
  content: "\eb01";
}
.icon-icomoon-music3:before {
  content: "\eb00";
}
.icon-icomoon-music4:before {
  content: "\eaff";
}
.icon-icomoon-music52:before {
  content: "\eb40";
}
.icon-icomoon-music6:before {
  content: "\eb2f";
}
.icon-icomoon-music7:before {
  content: "\eb30";
}
.icon-icomoon-music8:before {
  content: "\eb31";
}
.icon-icomoon-arrows3:before {
  content: "\eb32";
}
.icon-icomoon-tool3:before {
  content: "\eb33";
}
.icon-icomoon-time2:before {
  content: "\eb34";
}
.icon-icomoon-nature:before {
  content: "\eb3e";
}
.icon-icomoon-social2:before {
  content: "\eafe";
}
.icon-icomoon-interface2:before {
  content: "\eafd";
}
.icon-icomoon-vimeo3:before {
  content: "\eafc";
}
.icon-icomoon-social3:before {
  content: "\eafb";
}
.icon-icomoon-social4:before {
  content: "\eafa";
}
.icon-icomoon-social5:before {
  content: "\eaf9";
}
.icon-icomoon-letter:before {
  content: "\eaf8";
}
.icon-icomoon-phone2:before {
  content: "\eaf7";
}
.icon-icomoon-pin:before {
  content: "\eaf6";
}
.icon-icomoon-web2:before {
  content: "\eaf5";
}
.icon-icomoon-symbol3:before {
  content: "\eb35";
}
.icon-icomoon-black:before {
  content: "\eb36";
}
.icon-icomoon-folder22:before {
  content: "\eb37";
}
.icon-icomoon-social6:before {
  content: "\eb38";
}
.icon-icomoon-social7:before {
  content: "\eb39";
}
.icon-icomoon-shape:before {
  content: "\eb3a";
}
.icon-icomoon-web3:before {
  content: "\eb3b";
}
.icon-icomoon-technology3:before {
  content: "\eb3c";
}
.icon-icomoon-computer:before {
  content: "\eaf4";
}
.icon-icomoon-science:before {
  content: "\eaf3";
}
.icon-icomoon-school:before {
  content: "\eaf2";
}
.icon-icomoon-money:before {
  content: "\eaf1";
}
.icon-icomoon-suitcase:before {
  content: "\eaf0";
}
.icon-icomoon-arrows4:before {
  content: "\eaef";
}
.icon-icomoon-search2:before {
  content: "\eb1d";
}
.icon-icomoon-clock22:before {
  content: "\eb1e";
}
.icon-icomoon-technology4:before {
  content: "\eb1f";
}
.icon-icomoon-location3:before {
  content: "\eb20";
}
.icon-icomoon-home:before {
  content: "\e900";
}
.icon-icomoon-home2:before {
  content: "\e901";
}
.icon-icomoon-home3:before {
  content: "\e902";
}
.icon-icomoon-office:before {
  content: "\e903";
}
.icon-icomoon-newspaper:before {
  content: "\e904";
}
.icon-icomoon-pencil:before {
  content: "\e905";
}
.icon-icomoon-pencil2:before {
  content: "\e906";
}
.icon-icomoon-quill:before {
  content: "\e907";
}
.icon-icomoon-pen:before {
  content: "\e908";
}
.icon-icomoon-blog:before {
  content: "\e909";
}
.icon-icomoon-eyedropper:before {
  content: "\e90a";
}
.icon-icomoon-droplet:before {
  content: "\e90b";
}
.icon-icomoon-paint-format:before {
  content: "\e90c";
}
.icon-icomoon-image:before {
  content: "\e90d";
}
.icon-icomoon-images:before {
  content: "\e90e";
}
.icon-icomoon-camera:before {
  content: "\e90f";
}
.icon-icomoon-headphones:before {
  content: "\e910";
}
.icon-icomoon-music:before {
  content: "\e911";
}
.icon-icomoon-play:before {
  content: "\e912";
}
.icon-icomoon-film:before {
  content: "\e913";
}
.icon-icomoon-video-camera:before {
  content: "\e914";
}
.icon-icomoon-dice:before {
  content: "\e915";
}
.icon-icomoon-pacman:before {
  content: "\e916";
}
.icon-icomoon-bullhorn:before {
  content: "\e91a";
}
.icon-icomoon-connection:before {
  content: "\e91b";
}
.icon-icomoon-podcast:before {
  content: "\e91c";
}
.icon-icomoon-feed:before {
  content: "\e91d";
}
.icon-icomoon-mic:before {
  content: "\e91e";
}
.icon-icomoon-book:before {
  content: "\e91f";
}
.icon-icomoon-books:before {
  content: "\e920";
}
.icon-icomoon-library:before {
  content: "\e921";
}
.icon-icomoon-file-text:before {
  content: "\e922";
}
.icon-icomoon-profile:before {
  content: "\e923";
}
.icon-icomoon-file-empty:before {
  content: "\e924";
}
.icon-icomoon-files-empty:before {
  content: "\e925";
}
.icon-icomoon-file-text2:before {
  content: "\e926";
}
.icon-icomoon-file-picture:before {
  content: "\e927";
}
.icon-icomoon-file-music:before {
  content: "\e928";
}
.icon-icomoon-file-play:before {
  content: "\e929";
}
.icon-icomoon-file-video:before {
  content: "\e92a";
}
.icon-icomoon-file-zip:before {
  content: "\e92b";
}
.icon-icomoon-copy:before {
  content: "\e92c";
}
.icon-icomoon-paste:before {
  content: "\e92d";
}
.icon-icomoon-stack:before {
  content: "\e92e";
}
.icon-icomoon-folder:before {
  content: "\e92f";
}
.icon-icomoon-folder-open:before {
  content: "\e930";
}
.icon-icomoon-folder-plus:before {
  content: "\e931";
}
.icon-icomoon-folder-minus:before {
  content: "\e932";
}
.icon-icomoon-folder-download:before {
  content: "\e933";
}
.icon-icomoon-folder-upload:before {
  content: "\e934";
}
.icon-icomoon-price-tag:before {
  content: "\e935";
}
.icon-icomoon-price-tags:before {
  content: "\e936";
}
.icon-icomoon-barcode:before {
  content: "\e937";
}
.icon-icomoon-qrcode:before {
  content: "\e938";
}
.icon-icomoon-ticket:before {
  content: "\e939";
}
.icon-icomoon-cart:before {
  content: "\e93a";
}
.icon-icomoon-coin-dollar:before {
  content: "\e93b";
}
.icon-icomoon-coin-euro:before {
  content: "\e93c";
}
.icon-icomoon-coin-pound:before {
  content: "\e93d";
}
.icon-icomoon-coin-yen:before {
  content: "\e93e";
}
.icon-icomoon-credit-card:before {
  content: "\e93f";
}
.icon-icomoon-calculator:before {
  content: "\e940";
}
.icon-icomoon-lifebuoy:before {
  content: "\e941";
}
.icon-icomoon-phone:before {
  content: "\e942";
}
.icon-icomoon-phone-hang-up:before {
  content: "\e943";
}
.icon-icomoon-address-book:before {
  content: "\e944";
}
.icon-icomoon-envelop:before {
  content: "\e945";
}
.icon-icomoon-pushpin:before {
  content: "\e946";
}
.icon-icomoon-location:before {
  content: "\e947";
}
.icon-icomoon-location2:before {
  content: "\e948";
}
.icon-icomoon-compass:before {
  content: "\e949";
}
.icon-icomoon-compass2:before {
  content: "\e94a";
}
.icon-icomoon-map:before {
  content: "\e94b";
}
.icon-icomoon-map2:before {
  content: "\e94c";
}
.icon-icomoon-history:before {
  content: "\e94d";
}
.icon-icomoon-clock:before {
  content: "\e94e";
}
.icon-icomoon-clock2:before {
  content: "\e94f";
}
.icon-icomoon-alarm:before {
  content: "\e950";
}
.icon-icomoon-bell:before {
  content: "\e951";
}
.icon-icomoon-stopwatch:before {
  content: "\e952";
}
.icon-icomoon-calendar:before {
  content: "\e953";
}
.icon-icomoon-printer:before {
  content: "\e954";
}
.icon-icomoon-keyboard:before {
  content: "\e955";
}
.icon-icomoon-display:before {
  content: "\e956";
}
.icon-icomoon-laptop:before {
  content: "\e957";
}
.icon-icomoon-mobile:before {
  content: "\e958";
}
.icon-icomoon-mobile2:before {
  content: "\e959";
}
.icon-icomoon-tablet:before {
  content: "\e95a";
}
.icon-icomoon-tv:before {
  content: "\e95b";
}
.icon-icomoon-drawer:before {
  content: "\e95c";
}
.icon-icomoon-drawer2:before {
  content: "\e95d";
}
.icon-icomoon-box-add:before {
  content: "\e95e";
}
.icon-icomoon-box-remove:before {
  content: "\e95f";
}
.icon-icomoon-download:before {
  content: "\e960";
}
.icon-icomoon-upload:before {
  content: "\e961";
}
.icon-icomoon-floppy-disk:before {
  content: "\e962";
}
.icon-icomoon-drive:before {
  content: "\e963";
}
.icon-icomoon-database:before {
  content: "\e964";
}
.icon-icomoon-undo:before {
  content: "\e965";
}
.icon-icomoon-redo:before {
  content: "\e966";
}
.icon-icomoon-undo2:before {
  content: "\e967";
}
.icon-icomoon-redo2:before {
  content: "\e968";
}
.icon-icomoon-forward:before {
  content: "\e969";
}
.icon-icomoon-reply:before {
  content: "\e96a";
}
.icon-icomoon-bubble:before {
  content: "\e96b";
}
.icon-icomoon-bubbles:before {
  content: "\e96c";
}
.icon-icomoon-bubbles2:before {
  content: "\e96d";
}
.icon-icomoon-bubble2:before {
  content: "\e96e";
}
.icon-icomoon-bubbles3:before {
  content: "\e96f";
}
.icon-icomoon-bubbles4:before {
  content: "\e970";
}
.icon-icomoon-user:before {
  content: "\e971";
}
.icon-icomoon-users:before {
  content: "\e972";
}
.icon-icomoon-user-plus:before {
  content: "\e973";
}
.icon-icomoon-user-minus:before {
  content: "\e974";
}
.icon-icomoon-user-check:before {
  content: "\e975";
}
.icon-icomoon-user-tie:before {
  content: "\e976";
}
.icon-icomoon-quotes-left:before {
  content: "\e977";
}
.icon-icomoon-quotes-right:before {
  content: "\e978";
}
.icon-icomoon-hour-glass:before {
  content: "\e979";
}
.icon-icomoon-spinner:before {
  content: "\e97a";
}
.icon-icomoon-spinner2:before {
  content: "\e97b";
}
.icon-icomoon-spinner3:before {
  content: "\e97c";
}
.icon-icomoon-spinner4:before {
  content: "\e97d";
}
.icon-icomoon-spinner5:before {
  content: "\e97e";
}
.icon-icomoon-spinner6:before {
  content: "\e97f";
}
.icon-icomoon-spinner7:before {
  content: "\e980";
}
.icon-icomoon-spinner8:before {
  content: "\e981";
}
.icon-icomoon-spinner9:before {
  content: "\e982";
}
.icon-icomoon-spinner10:before {
  content: "\e983";
}
.icon-icomoon-spinner11:before {
  content: "\e984";
}
.icon-icomoon-binoculars:before {
  content: "\e985";
}
.icon-icomoon-search:before {
  content: "\e986";
}
.icon-icomoon-zoom-in:before {
  content: "\e987";
}
.icon-icomoon-zoom-out:before {
  content: "\e988";
}
.icon-icomoon-enlarge:before {
  content: "\e989";
}
.icon-icomoon-shrink:before {
  content: "\e98a";
}
.icon-icomoon-enlarge2:before {
  content: "\e98b";
}
.icon-icomoon-shrink2:before {
  content: "\e98c";
}
.icon-icomoon-key:before {
  content: "\e98d";
}
.icon-icomoon-key2:before {
  content: "\e98e";
}
.icon-icomoon-lock:before {
  content: "\e98f";
}
.icon-icomoon-unlocked:before {
  content: "\e990";
}
.icon-icomoon-wrench:before {
  content: "\e991";
}
.icon-icomoon-equalizer:before {
  content: "\e992";
}
.icon-icomoon-equalizer2:before {
  content: "\e993";
}
.icon-icomoon-cog:before {
  content: "\e994";
}
.icon-icomoon-cogs:before {
  content: "\e995";
}
.icon-icomoon-hammer:before {
  content: "\e996";
}
.icon-icomoon-magic-wand:before {
  content: "\e997";
}
.icon-icomoon-aid-kit:before {
  content: "\e998";
}
.icon-icomoon-bug:before {
  content: "\e999";
}
.icon-icomoon-pie-chart:before {
  content: "\e99a";
}
.icon-icomoon-stats-dots:before {
  content: "\e99b";
}
.icon-icomoon-stats-bars:before {
  content: "\e99c";
}
.icon-icomoon-stats-bars2:before {
  content: "\e99d";
}
.icon-icomoon-trophy:before {
  content: "\e99e";
}
.icon-icomoon-gift:before {
  content: "\e99f";
}
.icon-icomoon-glass:before {
  content: "\e9a0";
}
.icon-icomoon-glass2:before {
  content: "\e9a1";
}
.icon-icomoon-mug:before {
  content: "\e9a2";
}
.icon-icomoon-spoon-knife:before {
  content: "\e9a3";
}
.icon-icomoon-leaf:before {
  content: "\e9a4";
}
.icon-icomoon-rocket:before {
  content: "\e9a5";
}
.icon-icomoon-meter:before {
  content: "\e9a6";
}
.icon-icomoon-meter2:before {
  content: "\e9a7";
}
.icon-icomoon-hammer2:before {
  content: "\e9a8";
}
.icon-icomoon-fire:before {
  content: "\e9a9";
}
.icon-icomoon-lab:before {
  content: "\e9aa";
}
.icon-icomoon-magnet:before {
  content: "\e9ab";
}
.icon-icomoon-bin:before {
  content: "\e9ac";
}
.icon-icomoon-bin2:before {
  content: "\e9ad";
}
.icon-icomoon-briefcase:before {
  content: "\e9ae";
}
.icon-icomoon-airplane:before {
  content: "\e9af";
}
.icon-icomoon-truck:before {
  content: "\e9b0";
}
.icon-icomoon-road:before {
  content: "\e9b1";
}
.icon-icomoon-accessibility:before {
  content: "\e9b2";
}
.icon-icomoon-target:before {
  content: "\e9b3";
}
.icon-icomoon-shield:before {
  content: "\e9b4";
}
.icon-icomoon-power:before {
  content: "\e9b5";
}
.icon-icomoon-switch:before {
  content: "\e9b6";
}
.icon-icomoon-power-cord:before {
  content: "\e9b7";
}
.icon-icomoon-clipboard:before {
  content: "\e9b8";
}
.icon-icomoon-list-numbered:before {
  content: "\e9b9";
}
.icon-icomoon-list:before {
  content: "\e9ba";
}
.icon-icomoon-list2:before {
  content: "\e9bb";
}
.icon-icomoon-tree:before {
  content: "\e9bc";
}
.icon-icomoon-menu:before {
  content: "\e9bd";
}
.icon-icomoon-menu2:before {
  content: "\e9be";
}
.icon-icomoon-menu3:before {
  content: "\e9bf";
}
.icon-icomoon-menu4:before {
  content: "\e9c0";
}
.icon-icomoon-cloud:before {
  content: "\e9c1";
}
.icon-icomoon-cloud-download:before {
  content: "\e9c2";
}
.icon-icomoon-cloud-upload:before {
  content: "\e9c3";
}
.icon-icomoon-cloud-check:before {
  content: "\e9c4";
}
.icon-icomoon-download2:before {
  content: "\e9c5";
}
.icon-icomoon-upload2:before {
  content: "\e9c6";
}
.icon-icomoon-download3:before {
  content: "\e9c7";
}
.icon-icomoon-upload3:before {
  content: "\e9c8";
}
.icon-icomoon-sphere:before {
  content: "\e9c9";
}
.icon-icomoon-earth:before {
  content: "\e9ca";
}
.icon-icomoon-link:before {
  content: "\e9cb";
}
.icon-icomoon-flag:before {
  content: "\e9cc";
}
.icon-icomoon-attachment:before {
  content: "\e9cd";
}
.icon-icomoon-eye:before {
  content: "\e9ce";
}
.icon-icomoon-eye-plus:before {
  content: "\e9cf";
}
.icon-icomoon-eye-minus:before {
  content: "\e9d0";
}
.icon-icomoon-eye-blocked:before {
  content: "\e9d1";
}
.icon-icomoon-bookmark:before {
  content: "\e9d2";
}
.icon-icomoon-bookmarks:before {
  content: "\e9d3";
}
.icon-icomoon-sun:before {
  content: "\e9d4";
}
.icon-icomoon-contrast:before {
  content: "\e9d5";
}
.icon-icomoon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-icomoon-star-empty:before {
  content: "\e9d7";
}
.icon-icomoon-star-half:before {
  content: "\e9d8";
}
.icon-icomoon-star-full:before {
  content: "\e9d9";
}
.icon-icomoon-heart:before {
  content: "\e9da";
}
.icon-icomoon-heart-broken:before {
  content: "\e9db";
}
.icon-icomoon-man:before {
  content: "\e9dc";
}
.icon-icomoon-woman:before {
  content: "\e9dd";
}
.icon-icomoon-man-woman:before {
  content: "\e9de";
}
.icon-icomoon-point-up:before {
  content: "\ea03";
}
.icon-icomoon-point-right:before {
  content: "\ea04";
}
.icon-icomoon-point-down:before {
  content: "\ea05";
}
.icon-icomoon-point-left:before {
  content: "\ea06";
}
.icon-icomoon-warning:before {
  content: "\ea07";
}
.icon-icomoon-notification:before {
  content: "\ea08";
}
.icon-icomoon-question:before {
  content: "\ea09";
}
.icon-icomoon-plus:before {
  content: "\ea0a";
}
.icon-icomoon-minus:before {
  content: "\ea0b";
}
.icon-icomoon-info:before {
  content: "\ea0c";
}
.icon-icomoon-cancel-circle:before {
  content: "\ea0d";
}
.icon-icomoon-blocked:before {
  content: "\ea0e";
}
.icon-icomoon-cross:before {
  content: "\ea0f";
}
.icon-icomoon-checkmark:before {
  content: "\ea10";
}
.icon-icomoon-checkmark2:before {
  content: "\ea11";
}
.icon-icomoon-spell-check:before {
  content: "\ea12";
}
.icon-icomoon-enter:before {
  content: "\ea13";
}
.icon-icomoon-exit:before {
  content: "\ea14";
}
.icon-icomoon-play2:before {
  content: "\ea15";
}
.icon-icomoon-pause:before {
  content: "\ea16";
}
.icon-icomoon-stop:before {
  content: "\ea17";
}
.icon-icomoon-previous:before {
  content: "\ea18";
}
.icon-icomoon-next:before {
  content: "\ea19";
}
.icon-icomoon-backward:before {
  content: "\ea1a";
}
.icon-icomoon-forward2:before {
  content: "\ea1b";
}
.icon-icomoon-play3:before {
  content: "\ea1c";
}
.icon-icomoon-pause2:before {
  content: "\ea1d";
}
.icon-icomoon-stop2:before {
  content: "\ea1e";
}
.icon-icomoon-backward2:before {
  content: "\ea1f";
}
.icon-icomoon-forward3:before {
  content: "\ea20";
}
.icon-icomoon-first:before {
  content: "\ea21";
}
.icon-icomoon-last:before {
  content: "\ea22";
}
.icon-icomoon-previous2:before {
  content: "\ea23";
}
.icon-icomoon-next2:before {
  content: "\ea24";
}
.icon-icomoon-eject:before {
  content: "\ea25";
}
.icon-icomoon-volume-high:before {
  content: "\ea26";
}
.icon-icomoon-volume-medium:before {
  content: "\ea27";
}
.icon-icomoon-volume-low:before {
  content: "\ea28";
}
.icon-icomoon-volume-mute:before {
  content: "\ea29";
}
.icon-icomoon-volume-mute2:before {
  content: "\ea2a";
}
.icon-icomoon-volume-increase:before {
  content: "\ea2b";
}
.icon-icomoon-volume-decrease:before {
  content: "\ea2c";
}
.icon-icomoon-loop:before {
  content: "\ea2d";
}
.icon-icomoon-loop2:before {
  content: "\ea2e";
}
.icon-icomoon-infinite:before {
  content: "\ea2f";
}
.icon-icomoon-shuffle:before {
  content: "\ea30";
}
.icon-icomoon-arrow-up-left:before {
  content: "\ea31";
}
.icon-icomoon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-icomoon-arrow-up2:before {
  content: "\ea3a";
}
.icon-icomoon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-icomoon-arrow-right2:before {
  content: "\ea3c";
}
.icon-icomoon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-icomoon-arrow-down2:before {
  content: "\ea3e";
}
.icon-icomoon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-icomoon-arrow-left2:before {
  content: "\ea40";
}
.icon-icomoon-circle-up:before {
  content: "\ea41";
}
.icon-icomoon-circle-right:before {
  content: "\ea42";
}
.icon-icomoon-circle-down:before {
  content: "\ea43";
}
.icon-icomoon-circle-left:before {
  content: "\ea44";
}
.icon-icomoon-tab:before {
  content: "\ea45";
}
.icon-icomoon-move-up:before {
  content: "\ea46";
}
.icon-icomoon-move-down:before {
  content: "\ea47";
}
.icon-icomoon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-icomoon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-icomoon-sort-numeric-asc:before {
  content: "\ea4a";
}
.icon-icomoon-sort-numberic-desc:before {
  content: "\ea4b";
}
.icon-icomoon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-icomoon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-icomoon-command:before {
  content: "\ea4e";
}
.icon-icomoon-shift:before {
  content: "\ea4f";
}
.icon-icomoon-ctrl:before {
  content: "\ea50";
}
.icon-icomoon-opt:before {
  content: "\ea51";
}
.icon-icomoon-checkbox-checked:before {
  content: "\ea52";
}
.icon-icomoon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-icomoon-radio-checked:before {
  content: "\ea54";
}
.icon-icomoon-radio-checked2:before {
  content: "\ea55";
}
.icon-icomoon-radio-unchecked:before {
  content: "\ea56";
}
.icon-icomoon-crop:before {
  content: "\ea57";
}
.icon-icomoon-make-group:before {
  content: "\ea58";
}
.icon-icomoon-ungroup:before {
  content: "\ea59";
}
.icon-icomoon-scissors:before {
  content: "\ea5a";
}
.icon-icomoon-filter:before {
  content: "\ea5b";
}
.icon-icomoon-font:before {
  content: "\ea5c";
}
.icon-icomoon-ligature:before {
  content: "\ea5d";
}
.icon-icomoon-ligature2:before {
  content: "\ea5e";
}
.icon-icomoon-text-height:before {
  content: "\ea5f";
}
.icon-icomoon-text-width:before {
  content: "\ea60";
}
.icon-icomoon-font-size:before {
  content: "\ea61";
}
.icon-icomoon-bold:before {
  content: "\ea62";
}
.icon-icomoon-underline:before {
  content: "\ea63";
}
.icon-icomoon-italic:before {
  content: "\ea64";
}
.icon-icomoon-strikethrough:before {
  content: "\ea65";
}
.icon-icomoon-omega:before {
  content: "\ea66";
}
.icon-icomoon-sigma:before {
  content: "\ea67";
}
.icon-icomoon-table:before {
  content: "\ea70";
}
.icon-icomoon-table2:before {
  content: "\ea71";
}
.icon-icomoon-insert-template:before {
  content: "\ea72";
}
.icon-icomoon-pilcrow:before {
  content: "\ea73";
}
.icon-icomoon-ltr:before {
  content: "\ea74";
}
.icon-icomoon-rtl:before {
  content: "\ea75";
}
.icon-icomoon-section:before {
  content: "\ea76";
}
.icon-icomoon-paragraph-left:before {
  content: "\ea77";
}
.icon-icomoon-paragraph-center:before {
  content: "\ea78";
}
.icon-icomoon-paragraph-right:before {
  content: "\ea79";
}
.icon-icomoon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-icomoon-indent-increase:before {
  content: "\ea7b";
}
.icon-icomoon-indent-decrease:before {
  content: "\ea7c";
}
.icon-icomoon-share:before {
  content: "\ea7d";
}
.icon-icomoon-new-tab:before {
  content: "\ea7e";
}
.icon-icomoon-embed:before {
  content: "\ea7f";
}
.icon-icomoon-embed2:before {
  content: "\ea80";
}
.icon-icomoon-terminal:before {
  content: "\ea81";
}
.icon-icomoon-share2:before {
  content: "\ea82";
}
.icon-icomoon-mail:before {
  content: "\ea83";
}
.icon-icomoon-mail2:before {
  content: "\ea84";
}
.icon-icomoon-mail3:before {
  content: "\ea85";
}
.icon-icomoon-mail4:before {
  content: "\ea86";
}
.icon-icomoon-amazon:before {
  content: "\ea87";
}
.icon-icomoon-google:before {
  content: "\ea88";
}
.icon-icomoon-google2:before {
  content: "\ea89";
}
.icon-icomoon-google3:before {
  content: "\ea8a";
}
.icon-icomoon-google-plus:before {
  content: "\ea8b";
}
.icon-icomoon-google-plus2:before {
  content: "\ea8c";
}
.icon-icomoon-google-plus3:before {
  content: "\ea8d";
}
.icon-icomoon-hangouts:before {
  content: "\ea8e";
}
.icon-icomoon-google-drive:before {
  content: "\ea8f";
}
.icon-icomoon-facebook:before {
  content: "\ea90";
}
.icon-icomoon-facebook2:before {
  content: "\ea91";
}
.icon-icomoon-instagram:before {
  content: "\ea92";
}
.icon-icomoon-whatsapp:before {
  content: "\ea93";
}
.icon-icomoon-spotify:before {
  content: "\ea94";
}
.icon-icomoon-telegram:before {
  content: "\ea95";
}
.icon-icomoon-twitter:before {
  content: "\ea96";
}
.icon-icomoon-vine:before {
  content: "\ea97";
}
.icon-icomoon-vk:before {
  content: "\ea98";
}
.icon-icomoon-renren:before {
  content: "\ea99";
}
.icon-icomoon-sina-weibo:before {
  content: "\ea9a";
}
.icon-icomoon-rss:before {
  content: "\ea9b";
}
.icon-icomoon-rss2:before {
  content: "\ea9c";
}
.icon-icomoon-youtube:before {
  content: "\ea9d";
}
.icon-icomoon-youtube2:before {
  content: "\ea9e";
}
.icon-icomoon-twitch:before {
  content: "\ea9f";
}
.icon-icomoon-vimeo:before {
  content: "\eaa0";
}
.icon-icomoon-vimeo2:before {
  content: "\eaa1";
}
.icon-icomoon-lanyrd:before {
  content: "\eaa2";
}
.icon-icomoon-flickr:before {
  content: "\eaa3";
}
.icon-icomoon-flickr2:before {
  content: "\eaa4";
}
.icon-icomoon-flickr3:before {
  content: "\eaa5";
}
.icon-icomoon-flickr4:before {
  content: "\eaa6";
}
.icon-icomoon-dribbble:before {
  content: "\eaa7";
}
.icon-icomoon-behance:before {
  content: "\eaa8";
}
.icon-icomoon-behance2:before {
  content: "\eaa9";
}
.icon-icomoon-deviantart:before {
  content: "\eaaa";
}
.icon-icomoon-500px:before {
  content: "\eaab";
}
.icon-icomoon-steam:before {
  content: "\eaac";
}
.icon-icomoon-steam2:before {
  content: "\eaad";
}
.icon-icomoon-dropbox:before {
  content: "\eaae";
}
.icon-icomoon-onedrive:before {
  content: "\eaaf";
}
.icon-icomoon-github:before {
  content: "\eab0";
}
.icon-icomoon-npm:before {
  content: "\eab1";
}
.icon-icomoon-basecamp:before {
  content: "\eab2";
}
.icon-icomoon-trello:before {
  content: "\eab3";
}
.icon-icomoon-wordpress:before {
  content: "\eab4";
}
.icon-icomoon-joomla:before {
  content: "\eab5";
}
.icon-icomoon-ello:before {
  content: "\eab6";
}
.icon-icomoon-blogger:before {
  content: "\eab7";
}
.icon-icomoon-blogger2:before {
  content: "\eab8";
}
.icon-icomoon-tumblr:before {
  content: "\eab9";
}
.icon-icomoon-tumblr2:before {
  content: "\eaba";
}
.icon-icomoon-yahoo:before {
  content: "\eabb";
}
.icon-icomoon-yahoo2:before {
  content: "\eabc";
}
.icon-icomoon-tux:before {
  content: "\eabd";
}
.icon-icomoon-appleinc:before {
  content: "\eabe";
}
.icon-icomoon-finder:before {
  content: "\eabf";
}
.icon-icomoon-android:before {
  content: "\eac0";
}
.icon-icomoon-windows:before {
  content: "\eac1";
}
.icon-icomoon-windows8:before {
  content: "\eac2";
}
.icon-icomoon-soundcloud:before {
  content: "\eac3";
}
.icon-icomoon-soundcloud2:before {
  content: "\eac4";
}
.icon-icomoon-skype:before {
  content: "\eac5";
}
.icon-icomoon-reddit:before {
  content: "\eac6";
}
.icon-icomoon-hackernews:before {
  content: "\eac7";
}
.icon-icomoon-wikipedia:before {
  content: "\eac8";
}
.icon-icomoon-linkedin:before {
  content: "\eac9";
}
.icon-icomoon-linkedin2:before {
  content: "\eaca";
}
.icon-icomoon-lastfm:before {
  content: "\eacb";
}
.icon-icomoon-lastfm2:before {
  content: "\eacc";
}
.icon-icomoon-delicious:before {
  content: "\eacd";
}
.icon-icomoon-stumbleupon:before {
  content: "\eace";
}
.icon-icomoon-stumbleupon2:before {
  content: "\eacf";
}
.icon-icomoon-stackoverflow:before {
  content: "\ead0";
}
.icon-icomoon-pinterest:before {
  content: "\ead1";
}
.icon-icomoon-pinterest2:before {
  content: "\ead2";
}
.icon-icomoon-xing:before {
  content: "\ead3";
}
.icon-icomoon-xing2:before {
  content: "\ead4";
}
.icon-icomoon-flattr:before {
  content: "\ead5";
}
.icon-icomoon-foursquare:before {
  content: "\ead6";
}
.icon-icomoon-yelp:before {
  content: "\ead7";
}
.icon-icomoon-paypal:before {
  content: "\ead8";
}
.icon-icomoon-chrome:before {
  content: "\ead9";
}
.icon-icomoon-firefox:before {
  content: "\eada";
}
.icon-icomoon-IE:before {
  content: "\eadb";
}
.icon-icomoon-edge:before {
  content: "\eadc";
}
.icon-icomoon-safari:before {
  content: "\eadd";
}
.icon-icomoon-opera:before {
  content: "\eade";
}
.icon-icomoon-file-pdf:before {
  content: "\eadf";
}
.icon-icomoon-file-openoffice:before {
  content: "\eae0";
}
.icon-icomoon-file-word:before {
  content: "\eae1";
}
.icon-icomoon-file-excel:before {
  content: "\eae2";
}
.icon-icomoon-libreoffice:before {
  content: "\eae3";
}
.icon-icomoon-html-five:before {
  content: "\eae4";
}
.icon-icomoon-html-five2:before {
  content: "\eae5";
}
.icon-icomoon-css3:before {
  content: "\eae6";
}
.icon-icomoon-git:before {
  content: "\eae7";
}
.icon-icomoon-codepen:before {
  content: "\eae8";
}
.icon-icomoon-svg:before {
  content: "\eae9";
}
.icon-IcoMoon:before {
  content: "\eaea";
}
